<div class="parent-div">
  <div class="container justify-content-center">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="card p-4">
          <h3 class="text-center mb-4">Login</h3>
          <form>
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input type="email" class="form-control" placeholder="Enter your email" required>
            </div>
            <div class="mb-3">
              <label class="form-label">Password</label>
              <input type="password" class="form-control" placeholder="Enter your password" required>
            </div>
            <div class="d-grid">
              <a routerLink="/dashboard">

              <button type="submit" class="btn btn-primary">Login</button>
              </a>
            </div>
          </form>

          <p class="mt-3 text-center">
            <a routerLink="/signup">
            Don’t have an account?
            Signup</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
