<!-- Payment Transactions List -->
                        <div class="card mt-3">
                          <div class="card-body">
                            <h2 class="card-title mb-4">Payment Transactions</h2>
                            <table class="table table-bordered table-striped">
                              <thead>
                                <tr>
                                  <th>Payment ID</th>
                                  <th>Booking ID</th>
                                  <th>Name</th>
                                  <th>Payment Date</th>
                                  <th>Amount</th>
                                  <th>Payment Method</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let txn of payments; let i = index">
                                  <td>{{ txn.paymentId }}</td>
                                  <td>{{ txn.booking?.bookingId }}</td>
                                  <td>{{ txn.user?.name }}</td>
                                  <td>{{ txn.paymentDate }}</td>
                                  <td>{{ txn.amount | currency }}</td>
                                  <td>
                                    {{ txn.paymentMethod }}
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
