<nav class="navbar navbar-expand-lg bg-white bg-light d-flex justify-content-between align-items-center px-4">
  <div class="navbar-brand">
    <img src="logo.png" alt="Logo" height="40"> <span class="ms-3 fw-semibold text-primary">Dashboard</span>
  </div>
  <div class="profile-section">
<!--    <button class="btn btn-primary bg-secondary">Logout</button>-->
    <button class="btn btn-primary bg-secondary" (click)="logout()">Logout</button>
<!--    <img src="assets/profile.png" alt="Profile" class="rounded-circle" height="36" style="cursor:pointer;">-->
  </div>
</nav>
